html,
body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(228, 110, 15), aliceblue);
  overflow: hidden;
}

.banner {
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 15vh;
    width: 100vw;

}

#nav {

    position: fixed;
    z-index: 99;
    top: 13vh;
    left: 2vw;
    
    


}




    #navitems a {
      position: sticky;
      box-sizing: border-box;
      display: block;
      border: 2px solid dodgerblue;
      border-radius: 8px;
      width: 10vw;
      height: 4vh;
      text-decoration: none;
      font-size: 1.5vw;
      background-image: linear-gradient(to bottom left, aliceblue, dodgerblue);
      color: aliceblue;
      text-shadow: 2px 2px dodgerblue;
      
    }

    #navitems a:hover {
        background-image: linear-gradient(to top , aliceblue, dodgerblue);
      }
      #navitems a.active {
        background-image: linear-gradient(to top right , rgb(228, 110, 15), aliceblue);
      }
   
    /* SHOW HAMBURGER ICON */
    #nav label { 
        position: fixed;
        top: 5vh;
        left: 1vw;
        width: 1.5vw;
        height: 3vh;
        display: inline-block; 
        color: dodgerblue;
        background-image: linear-gradient(to top right , rgb(228, 110, 15), aliceblue, dodgerblue);
        border: solid aliceblue 0px;
        border-radius: 8px;
        font-family: tahoma;
        font-style:normal;
        font-size: 1.5vw;
        padding: 10px;
      }

      #nav label:hover {
         
        cursor: pointer;
        border: solid aliceblue 2px;


      }

      
  
    /* TOGGLE SHOW/HIDE MENU */
    input[type=checkbox] {
        visibility: hidden;
      }
    #navitems { display: none; }
    #nav input:checked ~ #navitems { 

      display: block; 
      background-image: linear-gradient(to top right, aliceblue, dodgerblue);
      border: solid aliceblue 2px; 
      border-radius:8px;
    }

.collegelogo {
 position: fixed;
 right: 1vw;
 top: 2vh;
 width: 10vw;
 height: 12vh;

}

.logo {
    position: fixed;
    right: 50vw;
    top: 1vh;
    width: 20vw;
    height: 20vh;
    transform: translate(50%, 3%);
   
   
   }

   .questionmark {
     
    position: fixed;
    left: 1vw;
    top: 18vh;
    width :74vw;
    height: 75vh;
    border: 2px solid aliceblue;
    border-radius: 8px;

   }

   #formwrapper {
          
     position: absolute;
     top: 18vh;
     right: 0.5vw;
     width: 23.5vw;
     height: 76vh;
    



   }

   #bookingform { 

    cursor:pointer;
    background-color: aliceblue;
    color: dodgerblue;

  }

  #subject {
    height: 45vh;
    width: 23.5vw;
    color:dodgerblue;
  }

  #actionbutton {
    display: block;
    position: fixed;
    height: 6vh;
    width: 8vw;
    top: 84vh;
    right: 2vw;
    border-radius: 8px;
  }

  #clearform {
    display: block;
    position: fixed;
    height: 6vh;
    width: 8vw;
    top: 77vh;
    right: 2vw;
    border-radius: 8px;
  }
  
  #fname {
    background-color: aliceblue;
    color: dodgerblue;
    width: 99.5%;
  }
  #email {
    background-color: aliceblue;
    color: dodgerblue;
    width: 99.5%;
  }

  #country {

    background-color: aliceblue;
    color: dodgerblue;
    width: 99.5%;

  }
  input[type="text"],
  select {
    color: dodgerblue;
    background-color: aliceblue;
    width: 25%; /* Full width */
    padding: 1vh; /* Some padding */
    border: 1px solid aliceblue; /* border color */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    margin-left: 2px; /* Add a left margin */
    margin-bottom: 2px; /* Bottom margin */
  }
  input[type="text"],
  textarea {
    background-color: aliceblue;
    color: dodgerblue;
    width: 25%; /* Full width */
    padding: 1vh; /* Some padding */
    border: 1px solid aliceblue; /*  border color */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    margin-left: 2px; /* Add a left margin */
    margin-bottom: 2px; /* Bottom margin */
  }
  
  input[type="submit"] {
    background-image: linear-gradient(
      to bottom right,
      rgb(228, 110, 15), aliceblue,
      dodgerblue
    );
    padding: 12px 20px;
    border: 2px;
    border-radius: 8px;
    font-family:tahoma;
    font-size: 1vw;
    color: dodgerblue;
    text-shadow: 2px 2px aliceblue;
  }
  input[type="submit"]:hover {
    background-image: linear-gradient(to top left, rgb(228, 110, 15), 
    dodgerblue);
  }
  input[type="reset"] {
    background-image: linear-gradient(
      to bottom right,
      rgb(228, 110, 15), aliceblue,
      dodgerblue
    );
    padding: 12px 20px;
    border: 2px;
    border-radius: 8px;
    font-family:tahoma;
    font-size: 1vw;
    color: dodgerblue;
    text-shadow: 2px 2px aliceblue;
  }
  input[type="reset"]:hover {
    background-image: linear-gradient(to top left, rgb(228, 110, 15), 
    dodgerblue);
  }

   #footer {
  
    display: block;
    position: fixed;
    width: 100%;
    height: 5vh;
    bottom: 0vh;
    left: 0vw;
    background-image: linear-gradient(to bottom, aliceblue, dodgerblue);
    opacity:100%;
    overflow: hidden;
  
  }
  
  #footertext {
  
    display: flex;
    color: aliceblue; 
    font-size: 2vh;
    text-shadow: 2px 2px dodgerblue;
    left: 50%;
    transform: translate(50%);
  }

  #socialmedia  {

 
    position: fixed;
    bottom: 1vh;
    left: 0.5vw;
    font-family: tahoma;
    font-size: 20px;
    color: dodgerblue;
    border: 0px solid dodgerblue;
    border-radius: 8px;
    background-image: linear-gradient(
      to top right,
      rgb(228, 110, 15),
      aliceblue,
      dodgerblue
    );
    overflow: hidden;
  
  
  }
  
  #socialmedia img {
  
  
    display: inline-block;
    border-radius: 50%;
    padding: 0vw 0vw;
    width: 3vw;
    height: 3vh;
    color: white;
    border: solid 1px white;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  
  #socialtext {
  
    font-family:tahoma;
    font-size: 20px;
    text-align: left;
    text-shadow: 2px 2px aliceblue;
    padding: 2px 2px;
  
  
  
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  
  #socialmedia a:hover {
    background-image: linear-gradient(to top , dodgerblue, aliceblue);
    opacity: 50%;
  }
  