html
body {
  width: 1vw;
  overflow-x: hidden;
}

.banner {
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 15vh;
    width: 100vw;

}
#nav {

    position: fixed;
    z-index: 99;
    top: 13vh;
    left: 2vw;
    
    


}




    #navitems a {
      position: sticky;
      box-sizing: border-box;
      display: block;
      border: 2px solid dodgerblue;
      border-radius: 8px;
      width: 10vw;
      height: 4vh;
      text-decoration: none;
      font-size: 1.5vw;
      background-image: linear-gradient(to bottom left, aliceblue, dodgerblue);
      color: aliceblue;
      text-shadow: 2px 2px dodgerblue;
      
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #nav label { 
      position: fixed;
      top: 5vh;
      left: 1vw;
      width: 1.5vw;
      height: 3vh;
      display: inline-block; 
      color: white;
      background: dodgerblue;
      border: solid aliceblue 2px;
      border-radius: 8px;
      font-family: tahoma;
      font-style:normal;
      font-size: 1.5vw;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    input[type=checkbox] {
        visibility: hidden;
      }
    #navitems { display: none; }
    #nav input:checked ~ #navitems { 

      display: block; 
      background-image: linear-gradient(to top right, aliceblue, dodgerblue);
      border: solid aliceblue 2px; 
      border-radius:8px;
    }
  
.collegelogo {
 position: fixed;
 right: 1vw;
 top: 2vh;
 width: 10vw;
 height: 12vh;

}

.logo {
    position: fixed;
    right: 50vw;
    top: 1vh;
    width: 20vw;
    height: 20vh;
    transform: translate(50%, 3%);
   
   
   }

#footer {
    position: absolute;
    bottom: 0vh;
    right: 80vw;
    width: 100vw;
    height: 4vh;
    background-image: linear-gradient white;
    opacity:50%;
    color: blue; 
    font-size: 2vw;
    text-shadow: 2px 2px white;
    overflow: hidden;

}


@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
body,
html {
  padding: 0;
  margin: 0;
  background: #ececec;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.picContainer {
  top: 15vh;
  left: 0vw;
  position: fixed;
  width: 99.5vw;
  height: 80vh;
  border: 5px solid #262626;
  background: black;
  border-radius: 10px;
  box-shadow: 0px 50px 100px #262626;
}
img {
  width: 99.5vw;
  height: 80vh;
  transition: 1s;
}
.img {
  width: 99.5vw;
  height: 80vh;
  position: absolute;
  z-index: 0;
  transition: 1s;
}
.right {
  position: absolute;
  height: 100%;
  width: 60px;
  z-index: 99;
  cursor: pointer;
  color: #fff;
  transition: 1s;
  right: 0;
  top: 0;
}
.right:hover {
  background: rgba(0, 0, 0, 0.25);
}
.right:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-size: 50px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) scale(0.75);
  margin-right: 10px;
  transition: 0.5s;
}
.right:hover:before {
  transform: translateY(-50%) scale(1);
}
.left {
  position: relative;
  height: 100%;
  width: 60px;
  z-index: 99;
  cursor: pointer;
  color: #fff;
  transition: 1s;
}
.left:hover {
  background: rgba(0, 0, 0, 0.25);
}
.left:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0.75);
  margin-left: 10px;
  transition: 0.5s;
}
.left:hover:before {
  transform: translateY(-50%) scale(1);
}
input {
  position: absolute;
  top: 0;
  left: -200px;
}
h2 {
  position: absolute;
  color: rgba(0, 0, 0, 0.75);
  top: -160px;
  left: 55%;
  transform: translateX(-50%);
  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  width: 70%;
}
.dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  z-index: 99;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 5px #fff;
}
.dot.a1 {
  margin-left: -30px;
}
.dot.a2 {
  margin-left: -10px;
}
.dot.a3 {
  margin-left: 10px;
}
.dot.a4 {
  margin-left: 30px;
}
.dot.a1:hover {
  background: #fff;
}
.dot.a2:hover {
  background: #fff;
}
.dot.a3:hover {
  background: #fff;
}
.dot.a4:hover {
  background: #fff;
}
 
#info {
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.75);
}