html
body {
  
  overflow-x: hidden;
}

.banner {
    height: 15vh;
    width: 100vw;

}

    #navitems a {
      box-sizing: border-box;
      display: block;
      width: 10vw;
      text-decoration: none;
      font-size: 2em;
      color: dodgerblue;
      
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #nav label { 
      position: fixed;
      top: 5vh;
      left: 1vw;
      width: 1.5vw;
      height: 3vh;
      display: inline-block; 
      color: white;
      background: dodgerblue;
      font-family: tahoma;
      font-style:normal;
      font-size: 1.5vw;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    input[type=checkbox] {
        visibility: hidden;
      }
    #navitems { display: none; }
    #nav input:checked ~ #navitems { display: block; }
  
.collegelogo {
 position: fixed;
 right: 1vw;
 top: 2vh;
 width: 10vw;
 height: 12vh;

}

.logo {
    position: fixed;
    right: 50vw;
    top: 1vh;
    width: 20vw;
    height: 20vh;
    transform: translate(50%, 3%);
   
   
   }

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4vh;
    background-image: linear-gradient white;
    opacity:50%;
    color: dodgerblue; 
    font-size: 2vh;
    overflow: hidden;

}