html
body {
  width: 100vw;
  background-image: linear-gradient(to bottom , dodgerblue, aliceblue);
  overflow-x: hidden;
}

.banner {
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 15vh;
    width: 100vw;

}

#nav {

    position: fixed;
    z-index: 99;
    top: 13vh;
    left: 2vw;
    
    


}




    #navitems a {
      position: sticky;
      box-sizing: border-box;
      display: block;
      border: 2px solid dodgerblue;
      border-radius: 8px;
      width: 10vw;
      height: 4vh;
      text-decoration: none;
      font-size: 1.5vw;
      background-image: linear-gradient(to bottom left, aliceblue, dodgerblue);
      color: aliceblue;
      text-shadow: 2px 2px dodgerblue;
      
    }

    #navitems a:hover {
        background-image: linear-gradient(to top , aliceblue, dodgerblue);
      }
      #navitems a.active {
        background-image: linear-gradient(to top right , rgb(228, 110, 15), aliceblue);
      }
   
    /* (B) SHOW HAMBURGER ICON */
    #nav label { 
        position: fixed;
        top: 5vh;
        left: 1vw;
        width: 1.5vw;
        height: 3vh;
        display: inline-block; 
        color: dodgerblue;
        background-image: linear-gradient(to top right , rgb(228, 110, 15), aliceblue, dodgerblue);
        border: solid aliceblue 2px;
        border-radius: 8px;
        font-family: tahoma;
        font-style:normal;
        font-size: 1.5vw;
        padding: 10px;
      }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    input[type=checkbox] {
        visibility: hidden;
      }
    #navitems { display: none; }
    #nav input:checked ~ #navitems { 

      display: block; 
      background-image: linear-gradient(to top right, aliceblue, dodgerblue);
      border: solid aliceblue 2px; 
      border-radius:8px;
    }

.collegelogo {
 position: fixed;
 right: 1vw;
 top: 2vh;
 width: 10vw;
 height: 12vh;

}

.logo {
    position: fixed;
    right: 50vw;
    top: 1vh;
    width: 20vw;
    height: 20vh;
    transform: translate(50%, 3%);
  
   
   }

#map {

position: fixed;    
left: 1vw;
top: 18vh;
height :75vh;
width : 70vw;
border: dodgerblue solid 2px;
border-radius: 8px;


   }

   #locationtext {
 
  position: fixed;
  right: 1vw;
  top: 18vh;
  height: 75vh;
  width: 25vw;
  border: dodgerblue solid 2px;
  border-radius: 8px;
  background-image: linear-gradient(to top  , rgb(228, 110, 15), aliceblue)

   }

   #loctext {

  margin: auto auto;
  padding-left: 5px;
  font-family: tahoma;
  font-size: 1.9vw;
  color: dodgerblue;
  text-shadow: 2px 2px aliceblue;


   }

   #footer {
  
    display: block;
    position: fixed;
    width: 100%;
    height: 5vh;
    bottom: 0vh;
    left: 0vw;
    background-image: linear-gradient(to bottom, aliceblue, dodgerblue);
    opacity:100%;
    overflow: hidden;
  
  }
  
  #footertext {
  
    display: flex;
    color: aliceblue; 
    font-size: 2vh;
    text-shadow: 2px 2px dodgerblue;
    left: 50%;
    transform: translate(50%);
  }