html
body {
  width: 1vw;
  overflow-x: hidden;
}

.banner {
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 15vh;
    width: 100vw;

}
#nav {

    position: fixed;
    z-index: 99;
    top: 13vh;
    left: 2vw;
    
    


}




    #navitems a {
      position: sticky;
      box-sizing: border-box;
      display: block;
      border: 2px solid dodgerblue;
      border-radius: 8px;
      width: 10vw;
      height: 4vh;
      text-decoration: none;
      font-size: 1.5vw;
      background-image: linear-gradient(to bottom left, aliceblue, dodgerblue);
      color: aliceblue;
      text-shadow: 2px 2px dodgerblue;
      
    }

    #navitems a:hover {
      background-image: linear-gradient(to top , aliceblue, dodgerblue);
    }
    #navitems a.active {
      background-image: linear-gradient(to top right , rgb(228, 110, 15), aliceblue);
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #nav label { 
      position: fixed;
      top: 5vh;
      left: 1vw;
      width: 1.5vw;
      height: 3vh;
      display: inline-block; 
      color: dodgerblue;
      background-image: linear-gradient(to top right , rgb(228, 110, 15), aliceblue, dodgerblue);
      border: solid aliceblue 2px;
      border-radius: 8px;
      font-family: tahoma;
      font-style:normal;
      font-size: 1.5vw;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    input[type=checkbox] {
        visibility: hidden;
      }
    #navitems { display: none; }
    #nav input:checked ~ #navitems { 

      display: block; 
      background-image: linear-gradient(to top right, aliceblue, dodgerblue);
      border: solid aliceblue 2px; 
      border-radius:8px;
    }
  
.collegelogo {
 position: fixed;
 right: 1vw;
 top: 2vh;
 width: 10vw;
 height: 12vh;

}

.logo {
    position: fixed;
    right: 50vw;
    top: 1vh;
    width: 20vw;
    height: 20vh;
    transform: translate(50%, 3%);
   
   
   }

#footer {
    position: absolute;
    bottom: 0vh;
    right: 80vw;
    width: 100vw;
    height: 4vh;
    background-image: linear-gradient white;
    opacity:50%;
    color: blue; 
    font-size: 2vw;
    text-shadow: 2px 2px white;
    overflow: hidden;

}



#slider {
  position: fixed;
  top: 18vh;
  left: 0.5vw;
  width: 99vw;
  height: 75vh;
  border: dodgerblue solid 2px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;
 
  float: left;
}
#slider ul li img{
  width: 99vw;
  height: 75vh;
}

#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}

#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}